
* { 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
} 

body { 
    
    font-family: sans-serif; } 

nav { 
    display: flex;
    font-family: monospace;
    
    justify-content: space-between;
    background: #222; 
    padding: 3px 10px; 

} 
    
ul {

    list-style-type: none; 
} 

a { 
    color: white; 
    text-decoration: none; 
} 

a:hover { 
    
    text-back: underline; 
    /*background-color: #006d6d;*/
} 
.logo a:hover { 
    
    text-decoration: none; 

} 


.menu li { 
    
    font-size: 16px; 
    padding: 15px 5px; 
    white-space: nowrap; 
} 

.logo a, .toggle a { 
    
    font-size: 20px; 
    flex: 0;

} 

img{
    max-width: 100%;
}

.button.secondary { 
    
    border-bottom: 1px #444 solid; 

}

.menu { 
    
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
} 

.toggle { 
    order: 1; 
} 

.item.button { 
    
    order: 2; 
} 

.item { 
    width: 100%; 
    text-align: center; 
    order: 3; 
    display: none; 
} 
.item.active { 
    display: block; 
}
/*para tablets*/
@media all and (min-width: 600px) { 
.menu { 
        justify-content: center;
        } 
.logo { 
        width: 7%;
        -webkit-animation: rotation 5s;
    }
    
		

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}   
    
.toggle { 
        flex: 1; text-align: right; 
    } 
.item.button { 
        width: auto; 
        order: 1; 
        display: block; 
    } 
.toggle { 
        order: 2; 
    } 
.button.secondary { 
        border: 0; 
    } 
.button a { 
        padding: 7.5px 15px; 
        background: teal; 
        border: 1px #006d6d solid; 
    } 
.button.secondary a { 
        background: transparent; 
    } 
.button a:hover { 
        text-decoration: none; 
    } 
.button:not(.secondary) a:hover { 
        background: #006d6d; 
        border-color: #005959; 
    } 
.button.secondary a:hover { 
        color: #ddd; 
    } 
}
/*para desktop*/
@media all and (min-width: 900px) { 
.item { display: block; width: auto; 
} 
.toggle { display: none; 
    } 
.logo { 
        order: 0; 
    } 
.item { 
        order: 1; 
    } 
.button { 
        order: 2; 
    }
.menu li { 
         padding: 15px 10px; 
        }
.menu li.button { 
        padding-right: 0; 
    } 

.container {
    margin: 1rem;
    
}    
.song-list {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.8rem;

    } 
.song-list > article {
    width: 10%;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
}


}

form{
	width:300px;
	padding:16px;
    border-radius:10px;
    margin:auto;
    padding-top: 20%:
    padding-bottom: 20%;
	background-color: #3CAEA3;
}

form input[type="text"],
form input[type="email"]{
	
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
form input[type="password"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
} 

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

input {
    width: 100%;
}


header{
    background: url(../img/pexels-andrea-piacquadio-3771823.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height:100vh;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    font-family: sans-serif;
}

header h2 , p{
    font-family: monospace;
    padding: 5%;
    margin-bottom: 5px;
    color: white;
    text-align: center;

}


.header-discover, .header-signup, .header-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    min-height: 100vh;

}

}
.header-discover {
    
    text-align: center;
}

header h1{
    color: #fff;
    font-size: 30px;
    font-family: monospace;
    position: absolute;
    left: 15%;
    top:30%;
    transform: translate(-10%, -10%);

}

.questions {
    width:auto;
	padding:8px 16px;
	margin-bottom:32px;
	border:1px solid #000;
	border-radius:40px;
	display:inline-block;
	color:#fff;
    background-color: rgba(0,0,0,.5);
   
}

.questions h2{
    color: #005959;
    font-size: 1rem;
    
}

.questions p{
    font-size: 0.8rem;
}

 /*.footer-bar {
      position: absolute;
      text-align: right;
      color: white;
      
  } */